<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/" class="home-link">TBlog</span>
    <span class="example-spacer"></span>
    <mat-form-field style="margin-right: 20px;" name="loginRegisterDropDown">
      <mat-select placeholder="Login" (selectionChange)="navigateTo($event.value)">
        <mat-option *ngFor="let entry of entries" [value]="entry.value">
          {{entry.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button routerLink="users">Users</button>
    <button mat-flat-button style="margin-left: 20px;" routerLink="create-blog-entry">Create Post</button>
    <button mat-flat-button style="margin-left: 20px;"  routerLink="admin">Admin</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
