<div *ngIf="!blogEntries">
    Loading...
</div>

<div *ngIf="blogEntries" style="width: 50%; margin-left: 25%;">
    <h1 style="text-align: center;">All Blogs</h1>
    <mat-card routerLink="../blog-entries/{{blogEntry.id}}" *ngFor="let blogEntry of blogEntries?.items" style="margin-top: 15px;" class="card">
        <div style="display: flex;">
            <div>
                <img *ngIf="blogEntry.headerImage" src="http://localhost:3000/api/blogs/blog-image/{{blogEntry.headerImage}}" />
                <img *ngIf="!blogEntry.headerImage" src="https://previews.123rf.com/images/kritchanut/kritchanut1406/kritchanut140600093/29213195-male-silhouette-avatar-profile-picture.jpg" width="10px">
            </div>
            <div style="margin-left: 30px;">
                <h2>{{blogEntry.title}}</h2>
                <p>{{blogEntry.description}}</p>
                <small>Author: {{blogEntry.author?.name}}</small>
            </div>
        </div>
    </mat-card>

    <mat-paginator
    [length]="blogEntries.meta.totalItems" 
    [pageSize]="blogEntries.meta.itemsPerPage" 
    [pageSizeOptions]="[5,10,25,100]"
    (page)="pageEvent = $event; onPaginateChange($event)"
    showFirstLastButtons>
    </mat-paginator>

</div>